SPOTIPY_CLIENT_ID={{ spotify_bridge_client_id }}
SPOTIPY_CLIENT_SECRET={{ spotify_bridge_client_secret }}
SPOTIPY_REDIRECT_URI={{ spotify_bridge_redirect_uri }}
SPOTIFY_BRIDGE_PORT={{ spotify_bridge_port }}
SPOTIFY_BRIDGE_ART_SIZE={{ spotify_bridge_art_size }}
SPOTIFY_BRIDGE_CACHE_DIR={{ spotify_bridge_cache_dir }}